body {
    background-image: url('/obrazki/obrazek8.jpg'); /* Tło dla całej strony */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    font-family: Arial, sans-serif;
}

.content {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 8px;
    max-width: 1000px;
    margin: 40px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ff9900;
    padding: 15px;
    text-align: left;
}

th {
    background-color: #333;
    color: #ff9900;
}

tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.2);
}

h1 {
    color: #ff9900;
    text-align: center;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.highlight {
    color: #ffcc00;
}
